<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connectionfrom" connectionString="Host=localhost;Port=5432;Database=EvvTest;Username=postgres;Password=123456;Pooling=true;MaxPoolSize=1024;"/>
    <add name="connectionto" connectionString="Host=localhost;Port=5432;Database=EvvTest;Username=postgres;Password=123456;Pooling=true;MaxPoolSize=1024;"/>
  </connectionStrings>
  <appSettings>
    <add key="dblinkfrom" value=""/>
    <add key="dblinkto" value=""/>
    <add key="tables" value=""/>
  </appSettings>
</configuration>